{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}

  {% for message in messages %}
    <div role="alert" class="alert {{ message.tags }} alert-dismissable">{{ message }}</div>
  {% endfor %}

  <ol class="breadcrumb">
    <li>
      <a href="{% url 'forum_view' %}">Forum</a>
    </li>
    <li>
      <a href="{% url 'forum_view_category' pk=category.pk %}">{{ category.title }}</a>
    </li>
    {% if subcategory %}
      <li>
        <a href="{% url 'forum_view_subcategory' c_pk=category.pk sc_pk=subcategory.pk %}">{{ subcategory.title }}</a>
      </li>
    {% endif %}
    <li class="active">{% trans 'New Thread' %}</li>
  </ol>

  {% if subcategory %}
    <form class="form" method="post" action="{% url 'forum_new_subcategory_thread' c_pk=category.pk sc_pk=subcategory.pk %}">
  {% else %}
    <form class="form" method="post" action="{% url 'forum_new_category_thread' c_pk=category.pk %}">
  {% endif %}
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">{% bootstrap_icon "ok" %} {% trans 'Create Thread' %}</button>
      {% endbuttons %}
    </form>

{% endblock %}
